.content {
    color: white;
    margin-top: 1%;
}

.content p {
    font-size: 22px;
}

img {
    animation: fadeIn 1s ease;
}

.aboutus_img {
    max-width: 100%;
    height: auto;
}

.aboutus_img:hover {
    opacity: 0.9;
}

.meettheteam_title {
    text-align: center;
}

.team_members {
    text-align: center;
}

.team_member {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.4s ease-in-out;
    transform: scale(0.95);
    outline: white solid 1px;
}

.team_member:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.0);
}

.slideFromLeft {
    animation: slideFromLeft 1.5s ease;
}

.slideFromRight {
    animation: slideFromRight 1.5s ease;
}