.content .container .row .col-md-6 img {
    animation: fadeIn 1s ease;
}

.content .container .row .col-md-3 {
    transition: transform 0.5s ease-in-out;
    transform: scale(0.95);
}

.content .container .row .col-md-3:hover {
    transform: scale(1.0);
}

.content .container .row .col-md-6,
.content .container .row .col-md-12 {
    transition: opacity 0.5s ease-in-out;
}

.content .container .row .col-md-6:hover,
.content .container .row .col-md-12:hover {
    opacity: 0.8;
}

.slideFromLeft {
    animation: slideFromLeft 1.75s ease;
}

.slideFromRight {
    animation: slideFromRight 1.75s ease;
}

.content .container .row .col-md-6 p {
    font-size: 22px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to {  opacity: 1; }
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}