.row {
    flex-wrap: wrap;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
}

.card {
    text-align: center;
    color: black;
    outline: white solid 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 0.375rem;
    min-width: 0;
    animation: fadeIn 0.65s ease-in-out;
    word-wrap: break-word;
}

.card-title {
    text-align: center;
    font-weight: 600;
}

.card-text {
    text-align: center;
    margin-top: -1rem;
    padding: 5px;
}

.card .btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 23px;
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    transition: all .2s,box-shadow .08s ease-in;
}

.card .btn:hover {
    background-color: #2e3ab1;
}